@charset "utf-8";
/* CSS Document */

.nav-stacked {
border: none;
}
.nav-origin {
	background-color: #000000;
	text-align: center;
}
.danger{
	background-color: #990000;
}

.nav-origin >li>a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 30px;
	font-weight: normal;
	color: #FFF;
}
.nav-origin >li>a:hover{
	color: #FFFFFF;
	line-height: 30px;
	background-color: #FF6600;
background: #000000; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #000000 0%, #cc0000 43%, #cc0000 56%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(43%,#cc0000), color-stop(56%,#cc0000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #000000 0%,#cc0000 43%,#cc0000 56%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #000000 0%,#cc0000 43%,#cc0000 56%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #000000 0%,#cc0000 43%,#cc0000 56%,#000000 100%); /* IE10+ */
background: linear-gradient(to right,  #000000 0%,#cc0000 43%,#cc0000 56%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 */

}
.nav-origin >.open>a,
.nav-origin >.open>a:hover,
.nav-origin >.open>a:focus {
	background: none;
	color: #FFCC66;
}
.container .b-sp {
	margin: 0px;
	padding: 0px;
}
