.header{
	background-image: url(../images/test-site-logo.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.header h1{
	padding-left: 15%;
	padding-top: 30px;
}
.h_img{
	max-width: 323px;
	float: right;
}
@mixin circle {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.back1{
	@include circle;
	background-color: #99CC00;
}
.contents{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
$default-theme-color: lighten(#F4F4E8, 90);
@mixin my-back($color) {
	$dark-color: darken($color, 10);
	padding: 20px;
	background: linear-gradient($color, $dark-color);
	color: black;
	text-decoration: none;
	border-radius: 5px;
}
.back2 {
@include my-back($default-theme-color);
line-height: 200%;
}
.category {
	font-size: 1.5em;
	padding-left: 20px;
}
.main-contents {
	font-size: 1.5em;
	padding-left: 20px;
}
#info {
	width: 100%;
	margin-bottom: 20px;
	@include circle;
	border: 1px solid #CCCCCC;
}
#info h3 {
	font-size: 1.5em;
	padding-left: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	margin-right: 2%;
	margin-left: 2%;
}
#info ul {
	width: 90%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#info ul li {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
.ta_b1{
	background-image: url(/images/titleback2.jpg);
	background-repeat: no-repeat;
	padding-bottom: 15px;
	background-position: 5px;
}
.ta_b2{
	background-image: url(/images/titleback1.jpg);
	background-repeat: no-repeat;
	padding-bottom: 15px;
	background-position: 5px;
}
#profile h6{
	color: #FF0000;
	font-weight: bold;
	font-size: 1.5em;
}
#profile h5{
	color: #000000;
	font-weight: bold;
	font-size: 1.5em;
}
.restart{
	background-color: #99CC66;
	color: #FFFFFF;
	font-size: 1.2em;
	padding-left: 20px;
	font-weight: bold;
}
#messages h4{
	color: #000000;
	font-size: 1.5em;
	background-color: #E8F3CF;
}
#messages p span{
	color: #E8B900;
}
#messages h5 {
	color: #000000;
	background-color: #FFCC99;
}
