@charset "utf-8";
/* CSS Document */

.box_info {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
}
.box_info h2 {
	font-size: 1.5em;
	padding-top: 0px;
}
#info {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	padding-top: 20px;
	padding-bottom: 10px;
}
