/* Navbarのオリジナルスタイル */
.navbar-default {
border: none;
}
.navbar-origin {
background-color: #FC0;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}
.navbar-origin .navbar-brand {
	padding: 0 15px;
	line-height: 40px;
	height: 40px;
	font-size: 28px;
	font-weight: 100;
	color: #FFF;
}

.navbar-origin .navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 40px;
	font-weight: 200;
	color: #000000;
}
.navbar-origin .navbar-nav>li>a:hover{
color: #E42121;
line-height: 40px;
background-color: #FFF;
}
.navbar-origin .navbar-nav>.open>a,
.navbar-origin .navbar-nav>.open>a:hover,
.navbar-origin .navbar-nav>.open>a:focus {
background: none;
color: #E42121;
}
.navbar-origin .navbar-nav>li>.dropdown-menu {
margin-top: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
border-top: 1px solid #E42121;
}
.navbar-origin .dropdown-menu {
padding: 0;
}
.navbar-origin .dropdown-menu li a {
padding: 15px;
color: #777;
}
.navbar-origin .dropdown-menu li.divider {
padding: 0;
margin: 0;
}

.controls input{
margin-bottom: 10px;
}
i{
	font-size:1.3em;
	color:inherit
}
.sp{
	padding-right: 5px;
}
